body {
	margin: 4em;
  font-family: 'Public Sans', sans-serif;
}

img{
  max-width: 100%;
	margin: 5px auto;
}

.captions {
  font-size: 12px;
}

.headline{
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: aqua;
  padding: 2em;
  margin: 2em 0;
}

section {
  width: 100%;
  padding: 2em;
}

@media only screen and (min-width: 1200px) {
  article {
    margin: -2em;
    flex-direction: row;
    display: flex;
  }

  section {
    flex: 1 0 calc(100% / 3 - 4em);
    padding: 2em;
    float: left;
  }
}